header > nav.links {
    display: flex;
    align-items: center;

    & ul{
     list-style-type: none;
    }

}

@keyframes slice {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}