body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    min-height: 50px;
}

main{
    min-height: calc(100vh - 100px);
    overflow: auto;
}

footer{
    min-height: 50px;
}